nav {
  display: flex;
  justify-content: space-around;
  background-color: lightblue;
  color: orange;
}

div:hover {
  color: red;
}

@media (max-width: 640px)  {
nav {
  flex-direction: column;
  text-align: center;
}
}

#img {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}
